<app-header></app-header>
<div class="text-center"><h1>Magic Store App Developers</h1></div>
<div class="text-center">This application is Designed and developed by - </div>
<div class="container mt-5 col-md-5">
    <div class="card-group">
        <div class="card border-dark mb-3 " style="max-width: 18rem;">
            <div class="card-header">Developer 1</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Jangiti Nandini</h5>
              <p class="card-text">B.Tech Computer Science</p>
              <a target="_blank"  href="mailto: jangitinandini16@gmail.com" class="fa fa-google"></a>
                <a target="_blank"  href="https://www.linkedin.com/in/jangitinandini" class="fa fa-linkedin"></a>
                <a target="_blank"  href="https://www.instagram.com/_its_cj_2608/" class="fa fa-instagram"></a>
            </div>
          </div>
          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Developer 2</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Aishwarya Singirikonda</h5>
              <p class="card-text">B.Tech Electronics and Communication</p>
              <a target="_blank"  href="mailto: aishwaryasingirikonda12@gmail.com" class="fa fa-google"></a>
                <a target="_blank"  href="https://www.linkedin.com/in/aishwaryasingirikonda" class="fa fa-linkedin"></a>
                <a target="_blank"  href="https://www.instagram.com/aishu__/" class="fa fa-instagram"></a>
            </div>
          </div>
    </div>
</div>

    
